.container {
    /* border: 1px dotted green; */
    height: 90vh;
    margin-left: 250px;
    margin-right: 250px;
    font-family: "Montserrat", sans-serif;
}
.top {
    /* border: 1px dotted green; */
    text-align: right;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    /* background: linear-gradient(90deg, #ded8d8 60%, #ffffff 40%); */
}
.logotext {
    font-size: 50px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 63%;
}
#logo {
    width: 100px;
}

.main {
    float: left;
    /* border: 1px dotted green; */
    width: 50%;
}

#jumbotext {
    padding: 0px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 70px;
}

.mural {
    float: right;
    /* border: 1px dotted green; */
    width: 50%;
    text-align: right;
}
#art {
    height: 85vh;
    position: relative;
    top: -75px;
    left: 12px;
}

form {
    margin-top: 100px;
    margin-left: 200px;
    width: 22vw;
}

.inputDiv {
    margin-bottom: 20px;
}

input {
    border: none;
    border-bottom: 2px solid gray;
    font-size: 40px;
}

input:focus {
    outline: none;
    border-bottom: 3px solid #50b9ff;
}
